body {
    background: #808080;
    color: black;
    font-size: 32px;
    width:80%;
    margin:0 auto;
    line-height: 1.5;
}
div{
 padding: 15px 20px;   
}
table, tr, th, td{
    border:1px solid white;
    padding:10px;
    border-collapse:collapse;
}
}
.main-content {
    width: 1000px;
    margin: 0 auto;
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
    color: black;
}

.dodgers {
    background: blue;
    color: white;
}
.dodgers a{
    color:white;
}
.dodgers a:visited{
    color:white;
}
.cubs {
    
}

.pittsburgh {
    background: yellow;
    color: black;
}

.cardinals {
    background: #fc7979;
    color:black;
}

.table-container {
    background: black;
}
a:visited{
    color:black;   
}
a{
 color:black;   
}
.table-container{
 color:white;
}
