.wrap {
width:750px;
margin:0 auto;
background:#336600;
}
.nav ul {
margin:0;
padding:0;
list-style:none;
}
.nav li {
display:inline;
margin:0;
padding:0;
}
.header {
padding:5px 10px;
background:#99CC00;
}
h1 {
margin:0;
text-align:right;
padding: 20px;
}
.nav {
padding:5px 10px;
background:#33CC33;
}
.main {
float:left;
width:480px;
padding:10px;
background:#669900;
text-align: center;
list-style:none;
}
h2 {
margin:0 0 1em;
}
.sidebar {
float:right;
width:230px;
padding:10px;
background:#99CC00;
height:500px;
}
.footer {
clear:both;
padding:5px 10px;
background:#cc9;
}
.footer p {
margin:0;
}
