body {
    background-color: beige;
    font-size: 18px;
    width:80%;
    border-top:1px solid black;
    margin:0 auto;
    padding-left: 100px;
}
table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding:5px;
}

.bacon-info {
    color: black;
}

.bacon-answer {
    color: black;
    font-family: "Times New Roman";
}
p{
    width:50%;
    
}
