.main {
    width:100%;
}
.siteWidth{
    width:90%;
    margin:0 auto;
}
img.main{
    margin:auto;
    width:30%;
    height:30%;
    padding-left:34%;
}
a.a{
    background-color: grey;
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-top: 27px;
    margin: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 15%;
    margin-right: 18%;
    float:left;
}
a.b{
    background-color: grey;
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding-top: 27px;
    border-radius: 10px 10px 10px 10px;
}
a.c{
    background-color: grey;
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-top: 27px;
    margin: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 37%;
}
@media (max-width:1400px){
    a.a{
        font-size:20px;
        height:10%;
        padding:0;
        padding:15px;
        margin-right:0;
        margin-right:15%;
    }
    a.b{
        font-size:20px;
        height:10%;
        padding:0;
        padding:15px;
    }
    a.c{
        font-size:20px;
        height:10%;
        padding:0;
        padding:15px;
        margin:0;
        margin-left:36%;
    }
}
.banks{
    width:90%;
    margin-left:340px;
    margin-top:100px;
}
img.bank{
    display:inline-block;
    
}
h1.topPick{
    text-align: center;
    font-size: 70px;
}
@media (max-width:1400px){
    .banks{
        margin-left:5%;
    }   
}
img.quiz{
    padding-left:359px;
}
h1.quiz{
    text-align: center;
    font-size: 50px;
}
@media (max-width:1400px){
    img.quiz{
        padding-left:5%;
    }
}
.top{
    width:90%; 
    clear: both;
    border-bottom: solid black 3px;
}
.topImg{
    display:inline-block;
    padding-left:1%;
    float:left;
    margin:auto;
    margin-top:2%;
}
h1.topH1{
    display:inline-block;
    font-size: 60px;
    padding-left:15%;
    padding-right:15%;
}
.topIcon{
    display:inline-block;
    margin-top:2%;
}
.inputs{
    display:inline-block;   
}
input.input1, .input2, .input3{
    margin-bottom:5%;
    margin-left: 5%;
}
.nav{
    width:90%;
    clear:both;
    border-bottom:solid black 3px;
    padding-bottom: 1%;
}
.navb{
    background-color: gainsboro;
    display: inline-block;
    width: 13%;
    height: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-top: 27px;
    margin: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left:10px;
    margin-right: 20px;
    margin-top: 20px;
    
}
.input4{
    padding: .4% 3%;
    float:right;
    margin-top: 1.5%;
    margin-right: 4%;
}
.middle{
    width:90%;
    clear:both;
}
.midImg{
    padding:3% 3%; 
    float:left;
}
.middleP{
    clear:right;
    float:left;
    padding-top: 10%;
}
h2{
    font-size: 42px;
    text-align:center;
}
p{
    font-size:18px; 
    text-align: center;
}
.bottom{
    width:90%;
    clear:both; 
    padding-top:3%;
    border-top:solid black 3px;
}
img.bank2{
    padding-right: 2.5%;
    padding-left: 2.5%;
}
@media (max-width:1600px){
    h1.topH1{
        font-size:40px;
        padding-left:7%;
        padding-right:7%;
    }
    .input4{
        padding: .3% 1%;
        margin-top: 2.5%;
        margin-right: 4%; 
    }
    .navb{
    background-color: gainsboro;
    display: inline-block;
    width: 13%;
    height: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-top: 27px;
    margin: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    }
    .midImg{
        clear:both;
        float:none;
        margin: 3% 10%;   
    }
    .middleP{
        clear:both;
        padding:0;
        margin-left:22%;
        padding-bottom:3%;  
    }
    img.bank2{
        padding:5%;
    }
    .bottom{
        padding:0;
        padding-top:1%;
    }
    .botMedia{
        padding-left:13%   
    }
}
@media (max-width:1300px){
    h1.topH1{
        font-size:30px;
        padding-left:2%;
        padding-right:2%;
    }
    .input4{
        display:none;   
    }
    .navb{
    background-color: gainsboro;
    display: inline-block;
    width: 17%;
    height: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: white;
    padding-top: 27px;
    margin: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    }
    .midImg{
        clear:both;
        float:none;
        margin:0;
        padding:0;
        padding-top:3%;
        padding-left:.5%;
    }
    .middleP{
        clear:both;
        padding:0;
        margin-left:11%;
        padding-bottom:3%;  
    }
    img.bank2{
        padding:3%;
    }
    .bottom{
        padding:0;
        padding-top:1%;
    }
    .botMedia{
        padding-left:7%   
    }
}
